{
  "semi": true,
  "singleQuote": false,
  "singleAttributePerLine": false,
  "bracketSpacing": true,
  "arrowParens": "always",
  "trailingComma": "all",
  "htmlWhitespaceSensitivity": "css",
  "printWidth": 100,
  "plugins": [
    "prettier-plugin-tailwindcss",
    "@trivago/prettier-plugin-sort-imports",
    "@xeonlink/prettier-plugin-organize-attributes"
  ],
  "importOrder": [
    "^react$",
    "^@inertiajs/react$",
    "^react-icons",
    "<THIRD_PARTY_MODULES>",
    "@/modules(.*)$",
    "^@/shared/wayfinder/actions(.*)$",
    "^@/shared/wayfinder/routes(.*)$",
    "^@/shared/components(.*)$",
    "^@/shared/pages(.*)$",
    "^@/shared/hooks(.*)$",
    "^@/shared/enums(.*)$",
    "^@/shared/utils(.*)$",
    "^@/shared/lib(.*)$",
    "^@/shared/types(.*)$",
    "^@/shared/assets(.*)$",
    "^[./]"
  ],
  "attributeSort": "ASC",
  "attributeGroups": [
    "^id$",
    "^name$",
    "^type$",
    "^autoComplete$",
    "^aria-",
    "^class(Name)?$",
    "^on[A-Z]",
    "$DEFAULT"
  ],
  "importOrderSeparation": true,
  "importOrderCaseInsensitive": true,
  "importOrderSortSpecifiers": true,
  "importOrderGroupNamespaceSpecifiers": true,
  "tailwindFunctions": ["clsx", "cn"],
  "tailwindStylesheet": "resources/css/app.css",
  "tabWidth": 2,
  "overrides": [
    {
      "files": "**/*.yml",
      "options": {
        "tabWidth": 2
      }
    }
  ]
}
