parameters:
    level: max

    paths:
        - app
        - bootstrap
        - database
        - routes

    tmpDir: storage/phpstan

    errorFormat: ticketswap
    editorUrl: 'vscode://file/%%file%%:%%line%%'

    checkAuthCallsWhenInRequestScope: true
    checkBenevolentUnionTypes: true
    checkConfigTypes: true
    checkModelProperties: true
    checkOctaneCompatibility: true
    noEnvCallsOutsideOfConfig: true
    noUnnecessaryEnumerableToArrayCalls: true

    type_coverage:
        return: 100
        param: 100
        property: 100
        constant: 100
        declare: 100

    type_perfect:
        no_mixed_property: true
        no_mixed_caller: true
        null_over_false: true
        narrow_param: true
        narrow_return: true

    scanFiles:
        - _ide_helper_models.php
    
    ignoreErrors:
        - '#Dynamic call to static method Illuminate\\.*#'
        -
            message: '#Provide more specific return type.*(BelongsTo|HasOne|HasMany|BelongsToMany|MorphTo|MorphOne|MorphMany|MorphToMany|HasOneThrough|HasManyThrough)#'
            identifier: typePerfect.narrowReturnObjectType

    excludePaths:
        analyse:
            - bootstrap/cache
            - app/Http/Middleware/HandleInertiaRequests.php
