parameters:
    level: max
    paths:
        - app
        - bootstrap
        - database
        - routes

    tmpDir: storage/phpstan

    checkAuthCallsWhenInRequestScope: true
    checkBenevolentUnionTypes: true
    checkConfigTypes: true
    checkModelProperties: true
    checkOctaneCompatibility: true
    noEnvCallsOutsideOfConfig: true
    noUnnecessaryEnumerableToArrayCalls: true

    type_coverage:
        return: 100
        param: 100
        property: 100
        constant: 100
        declare: 100

    scanFiles:
        - _ide_helper_models.php

    excludePaths:
        analyse:
            - bootstrap/cache
            - app/Http/Middleware/HandleInertiaRequests.php
