<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="vendor/phpunit/phpunit/phpunit.xsd"
         bootstrap="vendor/autoload.php"
         colors="true"
>
    <testsuites>
        <testsuite name="Unit">
            <directory>tests/Unit</directory>
        </testsuite>
        <testsuite name="Feature">
            <directory>tests/Feature</directory>
        </testsuite>
        <testsuite name="Login">
            <directory>app/Auth/Modules/Login/Tests</directory>
        </testsuite>
        <testsuite name="Register">
            <directory>app/Auth/Modules/Register/Tests</directory>
        </testsuite>
        <testsuite name="Email">
            <directory>app/Auth/Modules/Email/Tests</directory>
        </testsuite>
        <testsuite name="TrustedDevice">
            <directory>app/Auth/Modules/TrustedDevice/Tests</directory>
        </testsuite>
        <testsuite name="Password">
            <directory>app/Auth/Modules/Password/Tests</directory>
        </testsuite>
        <testsuite name="TwoFactor">
            <directory>app/User/Modules/TwoFactor/Tests</directory>
        </testsuite>
    </testsuites>
    <source>
        <include>
            <directory>app</directory>
        </include>
    </source>
    <php>
        <env name="APP_ENV" value="testing"/>
        <env name="APP_MAINTENANCE_DRIVER" value="file"/>
    </php>
</phpunit>
